<div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
    <div class="widget widget-content-area br-4">
        <div class="widget-one">

            <h6>Listar Reporte</h6>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem aliquid explicabo quos amet est eaque minus, labore perspiciatis adipisci et, exercitationem odit unde in? Fugit aliquid corporis officiis dolorem ex.
        </div>
    </div>
</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
    <div class="widget widget-content-area br-4">
        <div class="widget-one">

            <h6>Sección 2</h6>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem aliquid explicabo quos amet est eaque minus, labore perspiciatis adipisci et, exercitationem odit unde in? Fugit aliquid corporis officiis dolorem ex.
        </div>
    </div>
</div>